body { background: #624e91; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-uploader-0 { color: #e6a813; font-size: 19px; margin-bottom: 5px; }
.block-user-1 { color: #dfb8f6; font-size: 14px; margin-bottom: 5px; }
.block-database-2 { color: #7fc585; font-size: 17px; margin-bottom: 5px; }
.block-email-3 { color: #db7cd6; font-size: 12px; margin-bottom: 5px; }
.block-invoice-4 { color: #ca9180; font-size: 12px; margin-bottom: 5px; }